/* Navigation bar */
header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);

    img {
        height: 50px;
        margin-top: 10px;
        display: inline-block;
        transform: rotate(90deg);
    }

    .generiMusicali {
      width: 200px;
      height: 100%;
      float: right;

      #genere {
        width: 200px;
        font-size: 15px;
        margin-top: 15px;
        }
      }
    }
